{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body %}
    <h1>Теги</h1>
    <smal>Найдите то что вам нужно</smal>
    <table class="table">
            <tr>
                <td>
                    {% for tag in tags %}
                        {% if app.user and app.user.isAdmin %}
                        <div class="btn-group">
                            <a href="{{ path('company') }}?search={{ tag.name }}" class="btn btn-outline-primary">
                                {{ tag.name }}
                            </a>
                            {% include 'company/tag/_delete_form.html.twig' with {'id': tag.id} %}
                        </div>
                        {% else %}
                            <a  href="{{ path('company') }}?search={{ tag.name }}" class="btn btn-outline-primary">{{ tag.name }}</a>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
    </table>

    {% if app.user and app.user.isAdmin %}
        <a class="btn btn-primary" href="{{ path('company.tag.new') }}">Новый тег</a>
    {% endif %}
{% endblock %}