{% extends 'base.html.twig' %}

{% block title %}Админ-панель{% endblock %}

{% block body %}
    {% include 'admin/_nav.html.twig' %}

    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseEx" aria-expanded="false" aria-controls="collapseEx">
            Протектеры
        </button>
    </p>

    <div class="collapse" id="collapseEx">
        <div class="card">
            <div class="card-body">
                <p><a href="{{ path('protector.create') }}" class="btn btn-primary">Добавить</a></p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Описание</th>
                            <th>Правильный ответ</th>
                            <th>Неправильные ответы</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for protector in protectors %}
                            <tr>
                                <td>{{ protector.description }}</td>
                                <td><span class="badge badge-success">{{ protector.correctOption }}</span></td>
                                <td>
                                    {% for option in protector.wrongOptions %}
                                        <span class="badge badge-danger">{{ option }}</span>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('protector.remove', {id: protector.id}) }}" class="btn btn-danger">Удалить</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Оценка</th>
                <th>Статус</th>
                <th>Действие</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr>
                    <td><a href="{{ path('company.show', {'id' : company.id}) }}">{{ company.name }}</a></td>
                    <td>{{ company.assessment ?: 'Нет оценки' }}</td>
                    <td>
                        {% if company.isRejected %}
                            <span class="badge badge-danger">{{ company.normalStatus }}</span>
                        {% elseif company.isActive %}
                            <span class="badge badge-success">{{ company.normalStatus }}</span>
                        {% else %}
                            <span class="badge">{{ company.normalStatus }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if company.isActive %}
                            <a href="{{ path('company.reject', {'id' : company.id}) }}" class="btn btn-warning"><i class="fa fa-times"></i>Отклонить</a>
                            <br><br>
                            <a href="{{ path('company.edit', {'id' : company.id}) }}" class="btn btn-primary"><i class="fa fa-cog"></i>Изменить</a>
                        {% else %}
                            <a href="{{ path('company.verify', {'id' : company.id}) }}" class="btn btn-success"><i class="fa fa-check"></i>Принять</a>
                            <br>
                            <br>
                            <a href="{{ path('company.reject', {'id' : company.id}) }}" class="btn btn-warning"><i class="fa fa-times"></i>Отклонить</a>
                            <br><br>
                            <a href="{{ path('company.edit', {'id' : company.id}) }}" class="btn btn-primary"><i class="fa fa-cog"></i>Изменить</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('company.remove', {'id' : company.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i>Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}