{% extends 'base.html.twig' %}

{% block title %}Admin reviews!{% endblock %}

{% block body %}
    {% include 'admin/_nav.html.twig' %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="text-align: center;"><i class="fa fa-eye"></i></th>
            <th>Пользователь</th>
            <th>Компания</th>
            <th style="text-align: center;"><i class="fa fa-star"></i></th>
            <th>Отзыв</th>
            <th>Статус</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td><a href="{{ path('review.show', {'id' : review.id}) }}" class="btn btn-success"><i class="fa fa-eye"></i></a></td>
                <td><a href="{{ path('user.show', {'id' : review.user.id}) }}">{{ review.user.username }}</a></td>
                <td><a href="{{ path('company.show', {'id' : review.company.id}) }}">{{ review.company.name }}</a></td>
                <td>{{ review.assessment ?: 'Нет оценки' }}</td>
                <td>{{ review.text }}</td>
                <td>
                    {% if review.isRejected %}
                        <span class="badge badge-danger">{{ review.normalStatus }}</span>
                    {% elseif review.isActive %}
                        <span class="badge badge-success">{{ review.normalStatus }}</span>
                    {% else %}
                        <span class="badge">{{ review.normalStatus }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if review.isActive %}
                        <a href="{{ path('review.reject', {'id' : review.id}) }}" class="btn btn-warning"><i class="fa fa-times"></i>Отклонить</a>
                        <br><br>
                        <a href="{{ path('review.edit', {'id' : review.id}) }}" class="btn btn-primary"><i class="fa fa-cog"></i>Изменить</a>
                    {% else %}
                        <a href="{{ path('review.verify', {'id' : review.id}) }}" class="btn btn-success"><i class="fa fa-check"></i>Принять</a>
                        <br><br>
                        <a href="{{ path('review.reject', {'id' : review.id}) }}" class="btn btn-warning"><i class="fa fa-times"></i>Отклонить</a>
                        <br><br>
                        <a href="{{ path('review.edit', {'id' : review.id}) }}" class="btn btn-primary"><i class="fa fa-cog"></i>Изменить</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}