{% extends 'base.html.twig' %}

{% block title %}Cabinet!{% endblock %}

{% block body %}
    <ul class="nav nav-pills nav-fill mb-3">
        <li class="nav-item"><a class="nav-link active" href="#">Новое <span class="badge badge-pill badge-primary">{{ app.user.events|length }}</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.reviews') }}">Отзывы</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.profile') }}">Профиль</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Избранное</a></li>
        {% if app.user.isBusiness %}
            <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.business.profile') }}">Бизнес</a></li>
        {% endif %}
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Событие</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            {% for event in app.user.events %}
                <tr>
                    <td><a href="#">{{ event.senderUser.username }}</a></td>
                    <td>{{ event.eventMessage|raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
