{% extends 'base.html.twig' %}

{% block title %}Cabinet Reviews!{% endblock %}

{% block body %}
    <ul class="nav nav-pills nav-fill mb-3">
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet') }}">Новое <span class="badge badge-pill badge-primary">{{ app.user.newEvents|length }}</span></a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Отзывы</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.profile') }}">Профиль</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.favorites') }}">Избранное</a></li>
        {% if app.user.isBusiness %}
            <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.business.profile') }}">Бизнес</a></li>
        {% endif %}
    </ul>

    <hr>
    {% if app.user.coupons|length > 0 %}

        <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseEx" aria-expanded="false" aria-controls="collapseEx">
            Просмотреть купоны
        </button>
        </p>

        <div class="collapse" id="collapseEx">
             <div class="card">
                 <div class="card-body">
                     <table class="table">
                         <thead>
                            <tr>
                                <th>Компания</th>
                                <th>Описание купона</th>
                                <th>Код купона</th>
                                <th>Статус</th>
                            </tr>
                         </thead>
                         <tbody>
                            {% for coupon in app.user.coupons %}
                                <tr>
                                    <td><a href="{{ path('company.show', {'id' : coupon.company.id}) }}">{{ coupon.company.name }}</a></td>
                                    <td>{{ coupon.couponType.description }}</td>
                                    <td>{{ coupon.code }}</td>
                                    <td>{{ coupon.isActive ? 'Активен' : 'Использован' }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                     </table>
                 </div>
             </div>
        </div>

    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Компания</th>
                <th>Отзыв</th>
                <th>Оценка</th>
                <th>Лайки</th>
                <th>Статус</th>
                <th>Рейтинг</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td><a href="{{ path('review.show', {'id' : review.id}) }}" class="btn btn-success"><i class="fa fa-eye"></i></a></td>
                <td><a href="{{ path('company.show', {'id' : review.company.id}) }}">{{ review.company.name }}</a></td>
                <td>{{ review.text }}</td>
                <td>{{ review.assessment }}</td>
                <td>{{ review.likeCounter }}/-{{ review.dislikeCounter }}</td>
                <td>
                    {% if review.isRejected %}
                        <span class="badge badge-danger">{{ review.normalStatus }}</span>
                    {% elseif review.isActive %}
                        <span class="badge badge-success">{{ review.normalStatus }}</span>
                    {% else %}
                        <span class="badge">{{ review.normalStatus }}</span>
                    {% endif %}
                </td>
                <td>{{ review.likes|length }}</td>
                <td><a href="{{ path('review.edit', {'id' : review.id}) }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                <td>
                    <form action="{{ path('review.delete', {'id' : review.id}) }}" method="POST">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-review') }}">
                        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
