{% extends 'base.html.twig' %}

{% block title %}Cabinet Reviews!{% endblock %}

{% block body %}
    <ul class="nav nav-pills nav-fill mb-3">
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet') }}">Новое <span class="badge badge-pill badge-primary">{{ app.user.newEvents|length }}</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.reviews') }}">Отзывы</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.profile') }}">Профиль</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.favorites') }}">Избранное</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Бизнес</a></li>
    </ul>
    <ul class="nav nav-pills nav-fill mb-3">
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.business.profile') }}">Компании</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Реклама</a></li>
    </ul>
    <hr>
    <h2>Реклама</h2>
    <hr>
    <h4>Баннеры</h4>
    <a href="{{ path('advert.banner.create') }}" class="btn btn-success"><i class="fa fa-plus"></i> Создать новый баннер</a>
    <hr>
    <table class="table table-striped">
        <tbody>
            {% for banner in app.user.banners %}
                <tr>
                    <td><a class="btn btn-primary" href="{{ banner.src }}">Ссылка</a></td>
                    <td><img src="{{ absolute_url(asset(banner.bannerImg)) }}" alt="#" style="max-height: 250px; width: auto;"></td>
                    <td>
                        {% if banner.isWait %}
                            <span class="badge badge-primary">В ожидании</span>
                        {% elseif banner.isReadyToPay %}
                            <span class="badge badge-primary">Готов к оплате</span>
                        {% elseif banner.isRejected %}
                            <span class="badge badge-danger">Отклонен</span>
                        {% elseif banner.isActive %}
                            <span class="badge badge-success">Активен</span>
                        {% endif %}
                    </td>
                    {% if banner.isReadyToPay %}
                        <td><a href="{{ path('advert.banner.pay', {'id' : banner.id}) }}" class="btn btn-success">Оплатить</a></td>
                    {% endif %}
                    {% if banner.isActive %}
                        <td>Осталось показов: {{ banner.views }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
