{% extends 'base.html.twig' %}

{% block title %}Редактировать отзыв{% endblock %}

{% block body %}
    <h2>Редактировать отзыв</h2>
    <a href="{{ path('company.show', {'id' : review.company.id}) }}" class="btn btn-primary">< {{ review.company.name }}</a>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Сохранить">
    {{ form_end(form) }}
    {{ include('review/delete.form.html.twig') }}
{% endblock %}