{% extends 'base.html.twig' %}

{% block title %}See review{% endblock %}

{% block body %}
    <div class="d-flex flex-row">
        <a href="{{ path('company.show', {'id' : review.company.id}) }}" class="btn btn-primary mr-1">< {{ review.company.name }}</a>
        {% if app.user and (app.user == review.user or app.user.isAdmin) %}
            <a href="{{ path('review.edit', {'id' : review.id}) }}" class="btn btn-primary mr-1">Редактировать</a>
            <form action="{{ path('review.delete', {'id' : review.id}) }}" method="post" class="mr-1">
                <input type="hidden" name="token" value="{{ csrf_token('delete-review') }}">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        {% endif %}
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Param</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fa fa-user"></i> User</td>
                <td><a href="{{ path('user.show', {'id' : review.user.id}) }}">{{ review.user.username }}</a></td>
            </tr>
            <tr>
                <td><i class="fa fa-star"></i> Assessment</td>
                <td>{{ review.assessment }}</td>
            </tr>
            <tr>
                <td><i class="fa fa-comment"></i> Review</td>
                <td>{{ review.text }}</td>
            </tr>
        </tbody>
    </table>
    <h2>{{ review.comments|length }} комментариев</h2>
    <hr>

    <form method="post" action="{{ path('review.add.comment.inside', {'id': review.id}) }}">
        <div class="form-group">
            <input type="text" id="comment" class="form-control" name="_text" required placeholder="Оставьте комментарий">
        </div>
        <input type="hidden" name="_method" value="ADD_COMMENT">
        <input type="hidden" name="_token" value="{{ csrf_token('add' ~ review.id) }}">
        {% if app.user in review.company.businessUsers %}
            <div class="form-group form-check">
                <input type="checkbox" id="isCompany-check-box" class="form-check-input" name="_isCompany" value="isCompany">
                <label for="isCompany-check-box" class="form-check-label">
                    <small>Оставить комментарий от имени компании</small>
                </label>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary mr-1">Add comment</button>
    </form>




    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Comment</th>
        </tr>
        </thead>
    </table>
    {# macros #}
    {% macro comment_tree(comment) %}
        {% import _self as macros %}
        <ul class="nested-comments" style="list-style: none">
            <li style="margin-left: 1em">
                <div class="row bg-light text-dark rounded" style="padding:1em; border: 1px solid black; border-radius: 15px;">
                    <div class="col-sm-2">
                        {% if comment.isCompany %}
                            <i class="fa fa-building-o" aria-hidden="true"></i><a href="{{ path('company.show', {'id' : comment.review.company.id}) }}">{{ comment.review.company.name }}</a>
                        {% else %}
                            <i class="fa fa-user"></i><a href="{{ path('user.show', {'id' : comment.user.id}) }}">{{ comment.user.username }}</a>
                        {% endif %}
                        {% if comment.updatedAt %}
                            <p>changed: <i class="fa fa-clock-o" aria-hidden="true"></i>{{ comment.updatedAt|date('Y-m-d H:i:s') }}</p>
                        {% else %}
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i></i>{{ comment.createdAt|date('Y-m-d H:i:s') }}</p>
                        {% endif %}
                    </div>
                    <div class="col-sm-8"><p>{{ comment.text }}</p></div>
                    <div class="col-sm-1"><a href="{{ path('comment.answer', {'id' : comment.id}) }}" class="btn btn-primary mr-1">Reply</a></div>
                    <div class="col-sm-1"><a href="{{ path('comment.edit', {'id' : comment.id}) }}" class="btn btn-danger mr-1">Edit</a></div>
                </div>
                {% if comment.childrenComments %}
                    {% for children in comment.childrenComments %}
                        {{ macros.comment_tree(children) }}
                    {% endfor %}
                {% endif %}
            </li>
        </ul>
    {% endmacro %}

    {% import _self as macros %}
    {% for comment in review.comments %}
        {% if comment.root == true %}
            <ul class="nested-comments" style="list-style: none; padding-left: 1em">
                <li>
                    <div class="row bg-light text-dark rounded" style="padding:1em; border: 1px solid black; border-radius: 10px;">
                        <div class="col-sm-2">
                            {% if comment.isCompany %}
                                <i class="fa fa-building-o" aria-hidden="true"></i><a href="{{ path('company.show', {'id' : comment.review.company.id}) }}">{{ comment.review.company.name }}</a>
                            {% else %}
                                <i class="fa fa-user"></i><a href="{{ path('user.show', {'id' : comment.user.id}) }}">{{ comment.user.username }}</a>
                            {% endif %}
                            {% if comment.updatedAt %}
                                <p>changed: <i class="fa fa-clock-o" aria-hidden="true"></i>{{ comment.updatedAt|date('Y-m-d H:i:s') }}</p>
                            {% else %}
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i></i>{{ comment.createdAt|date('Y-m-d H:i:s') }}</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-8"><p>{{ comment.text }}</p></div>
                        <div class="col-sm-1"><a href="{{ path('comment.answer', {'id' : comment.id}) }}" class="btn btn-primary mr-1">Reply</a></div>
                        <div class="col-sm-1"><a href="{{ path('comment.edit', {'id' : comment.id}) }}" class="btn btn-danger mr-1">Edit</a></div>
                    </div>
                    {% if comment.childrenComments %}
                        {% for children in comment.childrenComments %}
                            {{ macros.comment_tree(children) }}
                        {% endfor %}
                    {% endif %}
                </li>
            </ul>
        {% endif %}
    {% endfor %}









      {#<tr>
            <td><i class="fa fa-user"></i> <a href="{{ path('user.show', {'id' : comment.user.id}) }}">{{ comment.user.username }}</a></td>
            <td>{{ comment.text }}</td>
            <td><a href="{{ path('comment.answer', {'id' : comment.id}) }}">Answer</a></td>
            <td><a href="{{ path('comment.edit', {'id' : comment.id}) }}">Edit</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table> #}
{% endblock %}