{% extends 'base.html.twig' %}

{% block title %}See review{% endblock %}

{% block body %}

    <p class="company-nav">
        <a href="{{ path('company.show', {'id' : review.company.id}) }}" class="btn btn-primary">< {{ review.company.name }}</a>
        {% if app.user and (app.user == review.user or app.user.isAdmin) %}
            <a href="{{ path('review.edit', {'id' : review.id}) }}" class="btn btn-primary">Редактировать</a>
        {% endif %}
    </p>

    <hr>
    <div class="row review">
        <div class="col-sm-2 review-info">
            <p><i class="fa fa-user"></i> <a href="{{ path('user.show', {'id' : review.user.id}) }}">{{ review.user.username }}</a></p>
            <p>
                {% set count = 5 %}
                {% for i in 1..review.assessment %}
                    <i class="fa fa-star active-star"></i>
                    {% set count = 5 - i %}
                {% endfor %}
                {% if count > 0 %}
                    {% for i in 1..count %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                {% endif %}
            </p>
        </div>
        <div class="col-sm-10 review-content">
            <p>{{ review.text }}</p>
        </div>

    </div>
    <hr>

    <h2>Комментарии ({{ review.comments|length }})</h2>

    <hr>

    <form method="post" action="{{ path('review.add.comment.inside', {'id': review.id}) }}">
        <div class="form-group">
            <input type="text" id="comment" class="form-control" name="_text" required placeholder="Оставьте комментарий">
        </div>
        <input type="hidden" name="_method" value="ADD_COMMENT">
        <input type="hidden" name="_token" value="{{ csrf_token('add' ~ review.id) }}">
        {% if app.user in review.company.businessUsers %}
            <div class="form-group form-check">
                <input type="checkbox" id="isCompany-check-box" class="form-check-input" name="_isCompany" value="isCompany">
                <label for="isCompany-check-box" class="form-check-label">
                    <small>Оставить комментарий от имени компании</small>
                </label>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary mr-1">Добавить комментарий</button>
    </form>
    <hr>




    <table class="table">
        <tbody>
        {% import _self as macros %}
        {% for comment in review.comments %}
        {% if comment.root == true %}
        <tr>
            <td colspan="2">
                {# macros #}
                {% macro comment_tree(comment) %}
                    {% import _self as macros %}
                    <ul class="nested-comments" style="list-style: none">
                        <li>
                                <div class="row review border-left border-bottom" style="padding:1em 1em 0em 0em;">
                                    <div class="col-sm-2 review-info">
                                        <p>
                                            {% if comment.isCompany %}
                                                <i class="fa fa-building-o" aria-hidden="true"></i><a href="{{ path('company.show', {'id' : comment.review.company.id}) }}">{{ comment.review.company.name }}</a>
                                            {% else %}
                                                <i class="fa fa-user"></i><a href="{{ path('user.show', {'id' : comment.user.id}) }}">{{ comment.user.username }}</a>
                                            {% endif %}
                                        </p>
                                        <p>
                                            {% if comment.updatedAt %}
                                        <p>changed: <i class="fa fa-clock-o" aria-hidden="true"></i>{{ comment.updatedAt|date('Y-m-d H:i:s') }}</p>
                                        {% else %}
                                            <p><i class="fa fa-clock-o" aria-hidden="true"></i></i>{{ comment.createdAt|date('Y-m-d H:i:s') }}</p>
                                        {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-sm-10 review-content">
                                        <p style="word-wrap: break-word">{{ comment.text }}</p>
                                        <p>
                                        <div>
                                            {% if app.user  %}
                                            <a href="{{ path('comment.answer', {'id' : comment.id}) }}" class="btn btn-primary mr-1">Ответить</a>
                                            {% endif %}
                                            {% if app.user and (app.user == comment.user or app.user.isAdmin) %}
                                                <a href="{{ path('comment.edit', {'id' : comment.id}) }}" class="btn btn-danger mr-1">Изменить</a>
                                            {% endif %}
                                        </div>
                                        </p>
                                    </div>
                                </div>
                            {% if comment.childrenComments %}
                                {% for children in comment.childrenComments %}
                                    {{ macros.comment_tree(children) }}
                                {% endfor %}
                            {% endif %}
                        </li>
                    </ul>
                {% endmacro %}


                <ul class="nested-comments" style="list-style: none; padding-left: 1em">
                    <li>
                        <div class="row review border-left border-bottom">
                            <div class="col-sm-2 review-info">
                                <p>
                                    {% if comment.isCompany %}
                                        <i class="fa fa-building-o" aria-hidden="true"></i><a href="{{ path('company.show', {'id' : comment.review.company.id}) }}">{{ comment.review.company.name }}</a>
                                    {% else %}
                                        <i class="fa fa-user"></i><a href="{{ path('user.show', {'id' : comment.user.id}) }}">{{ comment.user.username }}</a>
                                    {% endif %}
                                </p>
                                <p>
                                    {% if comment.updatedAt %}
                                <p>changed: <i class="fa fa-clock-o" aria-hidden="true"></i>{{ comment.updatedAt|date('Y-m-d H:i:s') }}</p>
                                {% else %}
                                    <p><i class="fa fa-clock-o" aria-hidden="true"></i></i>{{ comment.createdAt|date('Y-m-d H:i:s') }}</p>
                                {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-10 review-content">
                                <p style="word-wrap: break-word">{{ comment.text }}</p>
                                <p>
                                <div>
                                    <a href="{{ path('comment.answer', {'id' : comment.id}) }}" class="btn btn-primary mr-1">Ответить</a>
                                    {% if app.user and (app.user == comment.user or app.user.isAdmin) %}
                                        <a href="{{ path('comment.edit', {'id' : comment.id}) }}" class="btn btn-danger mr-1">Изменить</a>
                                    {% endif %}
                                </div>
                                </p>
                            </div>
                        </div>
                        {% if comment.childrenComments %}
                            {% for children in comment.childrenComments %}
                                {{ macros.comment_tree(children) }}
                            {% endfor %}
                        {% endif %}
                    </li>
                </ul>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}