{% extends 'base.html.twig' %}

{% block title %}Отклонить компанию{% endblock %}

{% block body %}
    <h2>Отклонить компанию {{ company.name }}</h2>
    {#<a href="{{ path('company.create') }}" class="btn btn-success">Add company</a>#}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary">
    {{ form_end(form) }}
{% endblock %}
