{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}

    <h1>Вход</h1>

    {% if error %}
        <span class="error">{{ error.messageKey }}</span>
    {% endif %}

    <form action="{{ path('login') }}" method="POST">
        <div class="form-group col-sm-4">
            <label for="loginInput">Логин</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                </div>
                <input type="text" name="_username" value="{{ lastUsername }}" class="form-control" id="loginInput" placeholder="Введите логин...">
            </div>
        </div>

        <div class="form-group col-sm-4">
            <label for="passwordInput">Пароль</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-lock"></i></div>
                </div>
                <input type="password" class="form-control" name="_password" id="passwordInput" placeholder="Введите пароль...">
            </div>
        </div>

        <div class="form-group col-sm-4">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Войти</button>
                <a href="{{ networks.vk }}" class="btn btn-dark"><i class="fa fa-vk"></i></a>
            </div>
            <a href="{{ path('reset.password.request') }}" class="btn btn-dark">Регистрация!</a>
        </div>
    </form>

    <div class="col-sm-4">
        <a href="{{ path('reset.password.request') }}" class="btn btn-warning">Забыл пароль!</a>
    </div>


{% endblock %}
